# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Logs
logs/
*.log

# Uploaded files
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Alembic cache
alembic/versions/__pycache__/